.hero-section{
    display:block;
    /* margin-top:80px; */
    height:500px;
    overflow-x: hidden;
}
.hero-container{
    margin-top: 120px;
    display: block;
    
    height: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.hero-big-text{
    font-size: 100px;
    animation: type 1s steps(12);
    font-family: 'Noto Serif JP', serif;
    overflow:hidden;
    white-space:nowrap;
    border-right: 4px solid #B8BABC;
    display: inline-block;
    color:#B8BABC;
}


@keyframes type{
    0%{
        width: 0ch;
    }
    
    100%{
        width: 8ch;
    }
}

.hero-desc{
    margin-top: 0px;
   position: fixed;
    font-size: 25px;
    font-family: 'Montserrat', serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:#b6a748;
    
}



@media screen and (max-width: 872px){
    .hero-big-text{
        font-size:80px;
    }
}

@media screen and (max-width: 638px){
    .hero-big-text{
        font-size:40px;
        margin-top: 150px;
    }
    .hero-desc{
        font-size: 18px;
        width: fit-content;
        margin: 0 ;
    }
   
}
@media screen and (max-width: 638px){
    .hero-big-text{
        font-size:40px;
        margin-top: 150px;
    }
    .hero-desc{
        font-size: 18px;
        width: fit-content;
        margin: 0px;
    }
   
}
@media screen and (max-width: 351px){
    .hero-big-text{
        font-size:30px;
       
    }
    .hero-desc{
        font-size: 15px;
        width: auto;
        margin: 0px;
    }
   
}

